<header>
    <div class="logo">
        <a href="index.html">
            <img src="images/logo.png" alt="Logo Patrick Sousa">
        </a>
    </div>
    <nav>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="python.html">Python</a></li>
            <li><a href="powerbi.html">Power BI</a></li>
            <li><a href="flutter.html">Flutter</a></li>
        </ul>
        <div class="hamburger" id="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
